<?xml version="1.0" encoding="utf-8"?>
	<!-- Add IIS configuration entries here. -->

  
  <configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Rewrite all to subfolder" stopProcessing="true">
            <match url="^(.*)$"  />
            <action type="Rewrite" url="/www/{R:1}"  />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </configuration>